## Import Lib and Set Inputs

In [1]:
import myfpe as fpe

## Get Time Series

In [2]:
start = '-11M'
stop = '-10M'
freq= 'M'
cal ='NAY'
req= fpe.get_time_series(start,stop,freq,cal)
req.data

['2022-08-31', '2022-09-30']

## Get Universe Constituents

In [3]:
universe_formula = 'FG_CONSTITUENTS(OEX,0,CLOSE)=1'
fpe.get_univ_constituents(universe_formula,
                            start,
                            stop,
                            freq,
                            cal).data

,company_name,ticker,2022-08-31 00:00:00,2022-09-30 00:00:00
symbol,,,,
75513E10,Raytheon Technologies Corporation,RTX-US,True,True
38141G10,"Goldman Sachs Group, Inc.",GS-US,True,True
90297330,U.S. Bancorp,USB-US,True,True
09247X10,"BlackRock, Inc.",BLK-US,True,True
37555810,"Gilead Sciences, Inc.",GILD-US,True,True
...,...,...,...,...
20825C10,ConocoPhillips,COP-US,True,True
30161N10,Exelon Corporation,EXC-US,True,True
93142710,"Walgreens Boots Alliance, Inc.",WBA-US,True,True
G5495010,Linde plc,LIN-US,True,True
26614N10,"DuPont de Nemours, Inc.",DD-US,True,False

## My Screen and Universe Calc

In [4]:
formulas = ['P_PRICE(0,USD)','P_PRICE_RETURNS(1,-1/0/0,0,USD)']
columns = ['price','tret']

fpe.screen_scr_univ(universe_formula=universe_formula,
                    start=start,
                    stop=stop,
                    freq=freq,
                    cal=cal,
                    formulas=formulas,
                    columns=columns).data

                     ison_univ                    company_name   ticker  \
date       symbol
2022-08-31 00206R10       True                       AT&T Inc.     T-US
           00282410       True             Abbott Laboratories   ABT-US
           00287Y10       True                    AbbVie, Inc.  ABBV-US
           00724F10       True              Adobe Incorporated  ADBE-US
           02079K10       True           Alphabet Inc. Class C  GOOG-US
...                        ...                             ...      ...
2022-09-30 93142710       True  Walgreens Boots Alliance, Inc.   WBA-US
           94974610       True           Wells Fargo & Company   WFC-US
           G1151C10       True           Accenture Plc Class A   ACN-US
           G5495010       True                       Linde plc   LIN-US
           G5960L10       True                   Medtronic Plc   MDT-US

                      price      tret
date       symbol
2022-08-31 00206R10   17.54  -6.60277
           00282410  102.65  -5.68724
           00287Y10  134.46  -6.30617
           00724F10  373.44  -8.94372
           02079K10  109.15  -6.42146
...                     ...       ...
2022-09-30 93142710   31.40 -10.74470
           94974610   40.22  -8.88083
           G1151C10  257.30 -12.03420
           G5495010  269.59  -4.87967
           G5960L10   80.75  -6.67049

[202 rows x 5 columns]

## FQL and Universe Calc

In [5]:
fql_formulas = ['P_PRICE(#DATE,,,USD)']
fql_columns = ['price']

fpe.fql_scr_univ(universe_formula=universe_formula,
                start=start,
                stop=stop,
                freq=freq,
                cal=cal,
                formulas=fql_formulas,
                columns=fql_columns).data

                     ison_univ                    company_name   ticker  \
date       symbol
2022-08-31 00206R10       True                       AT&T Inc.     T-US
           00282410       True             Abbott Laboratories   ABT-US
           00287Y10       True                    AbbVie, Inc.  ABBV-US
           00724F10       True              Adobe Incorporated  ADBE-US
           00790310       True    Advanced Micro Devices, Inc.   AMD-US
...                        ...                             ...      ...
2022-09-30 93142710       True  Walgreens Boots Alliance, Inc.   WBA-US
           94974610       True           Wells Fargo & Company   WFC-US
           G1151C10       True           Accenture Plc Class A   ACN-US
           G5495010       True                       Linde plc   LIN-US
           G5960L10       True                   Medtronic Plc   MDT-US

                      price
date       symbol
2022-08-31 00206R10   17.54
           00282410  102.65
           00287Y10  134.46
           00724F10  373.44
           00790310   84.87
...                     ...
2022-09-30 93142710   31.40
           94974610   40.22
           G1151C10  257.30
           G5495010  269.59
           G5960L10   80.75

[204 rows x 4 columns]

## Screen/FQL with Known IDs

### Screening

In [6]:
ids = ['AAPL','MSFT','AMZN']
data = fpe.screen_ids(ids = ids,
                    start=start,
                    stop=stop,
                    freq=freq,
                    cal=cal,
                    formulas=formulas,
                    columns=columns).data
data

                   ison_univ           company_name   ticker   price      tret
date       symbol
2022-08-31 AAPL         True             Apple Inc.  AAPL-US  157.22  -3.11365
           AMZN         True       Amazon.com, Inc.  AMZN-US  126.77  -6.06151
           MSFT         True  Microsoft Corporation  MSFT-US  261.47  -6.64316
2022-09-30 AAPL         True             Apple Inc.  AAPL-US  138.20 -13.03250
           AMZN         True       Amazon.com, Inc.  AMZN-US  113.00 -12.21940
           MSFT         True  Microsoft Corporation  MSFT-US  232.90 -11.43480

### FQL

In [7]:
fpe.fql_ids(ids = ids,
            start=start,
            stop=stop,
            freq=freq,
            cal=cal,
            formulas=fql_formulas,
            columns=fql_columns).data

                   ison_univ           company_name   ticker   price
date       symbol
2022-08-31 AAPL         True             Apple Inc.  AAPL-US  157.22
           AMZN         True       Amazon.com, Inc.  AMZN-US  126.77
           MSFT         True  Microsoft Corporation  MSFT-US  261.47
2022-09-30 AAPL         True             Apple Inc.  AAPL-US  138.20
           AMZN         True       Amazon.com, Inc.  AMZN-US  113.00
           MSFT         True  Microsoft Corporation  MSFT-US  232.90

## Archive & Retrieve

### Upload file to FPE

In [8]:
path= 'testing_file_archive.csv'
fpe.post_file(path,data)

'testing_file_archive.csv'

### Retrieve file archived in FPE

In [9]:
fpe.retrieve_file(path).data

                   ison_univ           company_name   ticker   price      tret
date       symbol
2022-08-31 AAPL         True             Apple Inc.  AAPL-US  157.22  -3.11365
           AMZN         True       Amazon.com, Inc.  AMZN-US  126.77  -6.06151
           MSFT         True  Microsoft Corporation  MSFT-US  261.47  -6.64316
2022-09-30 AAPL         True             Apple Inc.  AAPL-US  138.20 -13.03250
           AMZN         True       Amazon.com, Inc.  AMZN-US  113.00 -12.21940
           MSFT         True  Microsoft Corporation  MSFT-US  232.90 -11.43480